# Google Cloud Configuration
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=

# Sub Agents Configuration
# JSON map of sub agents: {"agent_name": {"url": "http://agent-url/.well-known/agent-card.json"}}
SUB_AGENTS={"weather_agent":{"url":"http://localhost:8001/.well-known/agent-card.json"}}

A2A_HTTP_PORT=8000

LOGLEVEL=DEBUG
OTEL_SDK_DISABLED=false
OTEL_SERVICE_NAME=delegate-agent
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
